
.App {
  display: flex;
  flex-direction: column;
}

.img-wrapper {
  margin-left: 50vw;
  transform: translateX(-50%);
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding: 25px 10px;
}

.styled-paper {
  height: 200px;
}
